<div class="container py-5 text-center game-select">

    <h2 class="fw-bold mb-4">انتخاب درجه سختی</h2>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6">

            <div class="d-grid gap-3">

                <button class="btn btn-primary btn-level" *ngFor="let item of [1,2,3,4,5]"
                    (click)="createGame(item)">{{item|gameLevel}}</button>

            </div>

            <button class="btn btn-success btn-level mt-4 w-100" *ngIf="savedGame && savedGame.success"
                (click)="continueGame()">

                ادامه بازی (سطح {{savedGame.data.level | gameLevel}})
                <div class="small mt-1">
                    {{savedGame.data.createdDaateTime | jalaliDate:"yyyy/MM/dd HH:mm"}}
                </div>

            </button>

            <hr>
            <div class="d-grid mt-4" (click)="gotoTopUsers()">
                <button class="btn btn-outline-primary bg-info-subtle btn-lg col-md-4 ">
                    کاربران برتر
                </button>

            </div>

        </div>
    </div>

</div>