<div *ngIf="data" class="page">

    <header class="header">
        <h1>سطح بازی: {{data.level| gameLevel}}</h1>
    </header>

    <main class="content">

        <div class="sudoku">
            <div *ngFor="let tr of data.data; let i = index">
                <div [class.col]="true" *ngFor="let td of tr; let j = index" class="cell"
                    [class.highlight]="isHighlighted(i, j)"
                    [class.selected]="selectedCell?.row === i && selectedCell?.col === j" (click)="selectCell(i,j)">
                    <span [class.error]="td.status==2" [class.fixed]="td.status==0" [class.success]="td.status==3">
                        {{td.number}}
                    </span>
                </div>
            </div>
        </div>
    </main>
    <br>
    <div class="actions">
        <button>
            clear
        </button>
        <button>
            Note
        </button>
        <button>
            Write
        </button>
    </div>

    <div class="actions">
        <button *ngFor="let item of[1,2,3,4,5,6,7,8,9]" (click)="write(item)"
            [class.action-button]="getActionButtonStatus(item)">
            {{item}}
        </button>
    </div>


</div>

<!-- وقتی دیتا نباشه -->
<div *ngIf="!data" class="loading">
    <p>در حال بارگذاری بازی...</p>
</div>