.page-item.disabled a {
    background-color: silver;
}

.page-item a {
    color: black;
}

.page-item.active a {
    color: white;
}

.page-link {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px !important;
}